<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <form action="" method="post">

        <textarea name="movies" id="movies" cols="30" rows="10" placeholder="Movies seperated by a comma"></textarea>
        <br>
        <button type="submit">Send</button>

    </form>
</body>

</html>